<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario - Agregar Curso</title>
</head>
<body>
    <form action="/BlogApp/forms/" method="POST">
        {% csrf_token %}
        <p> Titulo: <input type = "text" name="titulo">
        <p> Contenido: <input type = "text" name="contenido">
        <input type = "submit" value="Enviar">
     </form>   
</body>
</html>
